In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("Contacts_Pre_2017.csv")

In [4]:
df.head()

   START.DATE    END.DATE  CONTACT.TYPE  Contacts
0  2010-01-01  2010-01-01  Call - Input        84
1  2010-01-01  2010-01-01   Web - Input        11
2  2010-01-02  2010-01-02  Call - Input       236
3  2010-01-02  2010-01-02   Web - Input        21
4  2010-01-02  2010-01-03  Call - Input         1

In [12]:
df[['CONTACT.TYPE']]=="Call - Input"

      CONTACT.TYPE
0             True
1            False
2             True
3            False
4             True
5             True
6            False
7             True
8             True
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16            True
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24            True
25           False
26            True
27           False
28           False
29           False
...            ...
17282        False
17283        False
17284        False
17285        False
17286        False
17287        False
17288        False
17289        False
17290         True
17291         True
17292        False
17293        False
17294        False
17295        False
17296        False
17297        False
17298        False
17299         True
17300        False
17301        False
17302        False
17303        False
17304        False
17305        False
17306        False
17307        False
17308         True
17309        False
17310        False
17311        False

[17312 rows x 1 columns]

In [16]:
df.groupby(['CONTACT.TYPE']).mean()

                                Contacts
CONTACT.TYPE
Call - Input                 1993.459897
Fax - Input                    24.303426
Fax Acknowledgement - Input     9.896023
Installation Report - Input     1.228155
Internal Management            87.068153
Mail - Input                    7.792488
Mail - Recieved                91.755171
Tweet - Input                   1.054795
Visit                         490.845757
Web - Input                   292.300546

In [17]:
df.groupby(['CONTACT.TYPE']).sum()

                             Contacts
CONTACT.TYPE
Call - Input                  6163778
Fax - Input                     44694
Fax Acknowledgement - Input     17417
Installation Report - Input       253
Internal Management            203130
Mail - Input                    12655
Mail - Recieved                190759
Tweet - Input                      77
Visit                          856035
Web - Input                    748874

In [19]:
df.groupby(['CONTACT.TYPE']).median()

                             Contacts
CONTACT.TYPE
Call - Input                   2712.0
Fax - Input                      16.0
Fax Acknowledgement - Input       7.0
Installation Report - Input       1.0
Internal Management              60.0
Mail - Input                      6.0
Mail - Recieved                  78.0
Tweet - Input                     1.0
Visit                           482.0
Web - Input                     263.5

In [20]:
df.groupby(['CONTACT.TYPE']).apply(pd.DataFrame.mode)

                                 START.DATE    END.DATE  \
CONTACT.TYPE
Call - Input                0    2010-01-02  2010-01-03
                            1    2010-01-03  2010-01-04
                            2    2010-01-07  2010-01-08
                            3    2010-01-11  2010-01-12
                            4    2010-01-17  2010-01-18
                            5    2010-01-25  2010-01-26
                            6    2010-01-28  2010-01-29
                            7    2010-01-29  2010-01-30
                            8    2010-01-31  2010-02-01
                            9    2010-02-09  2010-02-10
                            10   2010-02-12  2010-02-13
                            11   2010-02-13  2010-02-14
                            12   2010-02-15  2010-02-16
                            13   2010-02-16  2010-02-17
                            14   2010-02-17  2010-02-18
                            15   2010-02-18  2010-02-19
                            16   2010-02-19  2010-02-20
                            17   2010-02-24  2010-02-25
                            18   2010-03-03  2010-03-04
                            19   2010-03-04  2010-03-05
                            20   2010-03-12  2010-03-13
                            21   2010-03-13  2010-03-14
                            22   2010-03-14  2010-03-15
                            23   2010-03-15  2010-03-16
                            24   2010-03-18  2010-03-19
                            25   2010-03-31  2010-04-01
                            26   2010-04-12  2010-04-13
                            27   2010-04-14  2010-04-15
                            28   2010-05-03  2010-05-04
                            29   2010-05-06  2010-05-07
...                                     ...         ...
                            521  2016-10-23  2016-10-24
                            522  2016-10-26  2016-10-27
                            523  2016-11-04  2016-11-05
                            524  2016-11-14  2016-11-15
                            525  2016-11-15  2016-11-16
                            526  2016-11-16  2016-11-17
                            527  2016-11-20  2016-11-21
                            528  2016-11-22  2016-11-23
                            529  2016-11-23  2016-11-24
                            530  2016-11-28  2016-11-29
                            531  2016-12-02  2016-12-03
                            532  2016-12-10  2016-12-11
                            533  2016-12-15  2016-12-16
                            534  2016-12-27  2016-12-28
                            535  2016-12-28  2016-12-29
Fax - Input                 0    2013-04-09  2013-04-10
Fax Acknowledgement - Input 0           NaN         NaN
Installation Report - Input 0           NaN         NaN
Internal Management         0    2013-05-14  2013-05-15
Mail - Input                0           NaN         NaN
Mail - Recieved             0    2013-03-04  2013-03-05
                            1    2013-03-14  2013-03-15
Tweet - Input               0           NaN         NaN
Visit                       0           NaN         NaN
Web - Input                 0    2015-02-28  2015-03-01
                            1    2015-05-02  2015-05-03
                            2    2015-09-30  2015-10-01
                            3    2015-11-21  2015-11-22
                            4    2016-01-31  2016-02-01
                            5    2016-02-07  2016-02-08

                                                CONTACT.TYPE  Contacts
CONTACT.TYPE
Call - Input                0                   Call - Input       1.0
                            1                            NaN       NaN
                            2                            NaN       NaN
                            3                            NaN       NaN
                            4                            NaN       NaN
                            5                            NaN       NaN
                            6                            NaN       NaN
                            7                            NaN       NaN
                            8                            NaN       NaN
                            9                            NaN       NaN
                            10                           NaN       NaN
                            11                           NaN       NaN
                            12                           NaN       NaN
                            13                           NaN       NaN
                            14                           NaN       NaN
                            15                           NaN       NaN
                            16                           NaN       NaN
                            17                           NaN       NaN
                            18                           NaN       NaN
                            19                           NaN       NaN
                            20                           NaN       NaN
                            21                           NaN       NaN
                            22                           NaN       NaN
                            23                           NaN       NaN
                            24                           NaN       NaN
                            25                           NaN       NaN
                            26                           NaN       NaN
                            27                           NaN       NaN
                            28                           NaN       NaN
                            29                           NaN       NaN
...                                                      ...       ...
                            521                          NaN       NaN
                            522                          NaN       NaN
                            523                          NaN       NaN
                            524                          NaN       NaN
                            525                          NaN       NaN
                            526                          NaN       NaN
                            527                          NaN       NaN
                            528                          NaN       NaN
                            529                          NaN       NaN
                            530                          NaN       NaN
                            531                          NaN       NaN
                            532                          NaN       NaN
                            533                          NaN       NaN
                            534                          NaN       NaN
                            535                          NaN       NaN
Fax - Input                 0                    Fax - Input       1.0
Fax Acknowledgement - Input 0    Fax Acknowledgement - Input       1.0
Installation Report - Input 0    Installation Report - Input       1.0
Internal Management         0            Internal Management       2.0
Mail - Input                0                   Mail - Input       1.0
Mail - Recieved             0                Mail - Recieved       1.0
                            1                            NaN       NaN
Tweet - Input               0                  Tweet - Input       1.0
Visit                       0                          Visit     528.0
Web - Input                 0                    Web - Input      86.0
                            1                            NaN       NaN
                            2                            NaN       NaN
                            3                            NaN       NaN
                            4                            NaN       NaN
                            5                            NaN       NaN

[551 rows x 4 columns]